.header {
    position: relative;
    padding: 30px 20px;
    text-align: center;
    background: linear-gradient(to right, #6f263d, #8a1538);
}

h1 {
    background-color:#6f263d;
    color:white;
    text-align: center;
    font-size: 300%;
    font-family: franklin-gothic-urw, sans-serif;
    padding: 20px;
}

.header h1 {
    margin: 0;
    color: white;
    font-size: 300%;
    font-family: franklin-gothic-urw, sans-serif;
    background: linear-gradient(to right, #6f263d, #8a1538);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}


.title-line {
    width: 600px;
    height: 4px;
    background-color: #f3d03e;
    border: none;
    margin: 20px auto;
}

.logo {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    height: 150px;
}


.signin-container {
     position: absolute;
     right: 30px;
     top: 50%;
     transform: translateY(-50%);
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 6px;
}

.signin-text {
    font-size: 0.8rem;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.signin-btn {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #f3d03e;
    color: black;
    border-radius: 2px;
    font-weight: bold;
    transition: all 0.2s ease;
}

.signin-btn:hover {
    background: linear-gradient(to right, #6f263d, #8a1538);
    color: white;
}

.logout-btn {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #f3d03e;
    color: black;
    border-radius: 2px;
    font-weight: bold;
    transition: all 0.2s ease;
}

.logout-btn:hover {
    background: linear-gradient(to right, #6f263d, #8a1538);
    color: white;
}

.accent-line {
    width: 95px;
    height: 4px;
    background-color: #f3d03e;
    border: none;
    left: 10 px;
}

.stripe-container {
    position: relative;
    width: 100%;
    height: 70px;

}

.stripe {
    width: 100%;
    height: 70px;
    display: block;
    object-fit: cover;
}

.stripe-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.7);
}
