body {
    font-family: Arial;
    margin: 0;
    background-color: #f5f6fa;
}

.profile-container {
    display: flex;
    margin: 40px auto;
    background: white;
    border-radius: 12px;
    overflow: hidden;
}

.profile-left {
    width: 30%;
    background: #860037;
    color: white;
    padding: 40px 40px;
    text-align: center;
}

.rating {
    direction: rtl;
}
.rating label {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 36px;
    background: none;
    border: none;
}

.rating label:hover,
.rating label:hover ~ label {
    color: #FED356
}

.rating-radio {
    display: none;
}

.profile-right {
    width: 70%;
    padding: 40px;
}

.course-section, .schedule-section {
    margin-bottom: 40px;
}

.course-section, .schedule-section h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.course-card {
    background: #f8f9fa;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.course-info {
    font-weight: bold;
    margin-bottom: 5px;
}