<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="main-footer">
  <div class="footer-container">

    <div class="footer-grid">
      <div class="footer-column">
        <h4 class="footer-heading">Contact Us</h4>
        <p class="footer-text">
          <a class="footer-text">Andruss Library 306</a><br>
          <a class="footer-text">Phone: (570)-389-2720</a><br>
          Email:
          <a th:href="@{https://outlook.office.com/mail/deeplink/compose(to='bloomtutoring@commonwealthu.edu')}"
             target="_blank" class="footer-link">
            bloomtutoring@commonwealthu.edu
          </a>
        </p>
      </div>

      <div class="footer-column">
        <h4 class="footer-heading">Quick Navigation</h4>
        <p class="footer-text">
          <a th:href="@{/}" class="footer-link">Home</a><br>
          <a th:href="@{/tutors}" class="footer-link">Search for a Tutor</a>
        </p>
      </div>

      <div class="footer-column">
        <h4 class="footer-heading">Administration</h4>
        <p class="footer-text">
          Secretary:
          <a th:href="@{https://outlook.office.com/mail/deeplink/compose(to='jgusick@commonwealthu.edu')}"
             target="_blank" class="footer-link">
            Julia Gusick
          </a><br>
          Director:
          <a th:href="@{https://outlook.office.com/mail/deeplink/compose(to='khamman@commonwealthu.edu')}"
             target="_blank" class="footer-link">
            Dr. Karen Hamman
          </a>
        </p>
      </div>
    </div>

    <div class="footer-copyright-row">
      <hr class="footer-divider">
      <p class="copyright-text">
        &copy; <span th:text="${#temporals.year(#temporals.createNow())}">2026</span> Commonwealth University of Pennsylvania - Bloomsburg Campus.
        <br>
        <span class="system-tag">Private Tutor Management System</span>
      </p>
    </div>

  </div>
</footer>

</html>