<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BloomTutors</title>
    <link rel="stylesheet" th:href="@{/Style.css}">
</head>

<body >
<header class="header">
    <a th:href="@{/}">
        <img src="Husky-Clip-Art-Transparent-File.png" alt="Husky" class="logo">
    </a>
    <h1>Welcome to Bloom Tutors</h1>
    <hr class="title-line">

    <div class="signin-container">
        <div class="signin-text">Are you a tutor?</div>
        <a th:href="@{/sign-in}" class="signin-btn">Sign In</a>
    </div>
</header>

<div class="stripe-container">
    <img src="fadedstripe.svg" alt="Stripe" class="stripe">
    <div class="stripe-text">
        Blooms Tutors – Making scheduling easy!
        <hr class="accent-line">
    </div>

</div>
<div class="main-section">
    <div class="left-side">
        <div class="hero_content box">
            <p> View Drop-In Schedule
                <a href="blank.html" class="link-btn">Here</a>
            </p>
        </div>
        <div class="hero_content box">
            <p> View SSC Math Lab Schedule
                <a href="blank.html" class="link-btn">Here</a>
            </p>
        </div>
        <div class="hero_content box">
            <p> View Ben Frank Math Lab Schedule
                <a href="blank.html" class="link-btn">Here</a>
            </p>
        </div>
        <div class="hero_content box">
            <p> View SI Schedule
                <a href="blank.html" class="link-btn">Here</a>
            </p>
        </div>

        <div class="hero_content box">
            <p>Click here to search for a tutor →
                <a th:href="@{/tutors}" class="link-btn">🔍</a>
            </p>
        </div>
    </div>

    <div class="image-side">
        <img src="tutor_center.jpg" alt="Tutor Center" width="500" height="300">
    </div>

</div>

<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h3>Contact Us</h3>
            <p>Email: support@bloomtutors.com</p>
            <p>Phone: (123) 456-7890</p>
        </div>
    </div>
</footer>
</body>
</html>