<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BloomTutors</title>
    <link rel="stylesheet" th:href="@{/Style.css}">
    <link rel="stylesheet" th:href="@{/header.css}">
</head>

<body >
<div th:replace="~{headerFragment :: header('Welcome to Bloom Tutors')}"></div>

<div class="stripe-container">

    <img th:src="@{/fadedstripe.svg}" class="stripe">

    <div class="stripe-text">
        Blooms Tutors – Making scheduling easy!
        <hr class="accent-line">
    </div>

</div>

<div class="main-section">
    <div class="left-side">

            <a th:if="${session.tutorID != null}" th:href="@{/schedule-builder}" class="hero-link">
                <div class="hero_content box">
                    <p>Build Your Schedule</p>
                </div>
            </a>

            <a th:href="@{/schedules/drop-in}" class="hero-link">
                <div class="hero_content box">
                    <p>View Drop-In Schedule</p>
                </div>
            </a>

            <a th:href="@{/schedules/SSC}" class="hero-link">
                <div class="hero_content box">
                    <p>View SSC Math Lab Schedule</p>
                </div>
            </a>

            <a th:href="@{/schedules/math-lab}" class="hero-link">
                <div class="hero_content box">
                    <p>View Ben Frank Math Lab Schedule</p>
                </div>
            </a>

            <a th:href="@{/schedules/SI}" class="hero-link">
                <div class="hero_content box">
                    <p>View SI Schedule</p>
                </div>
            </a>

            <a th:href="@{/tutors}" class="hero-link">
                <div class="hero_content box">
                    <p>Click here to search for a tutor</p>
                </div>
            </a>
    </div>

    <div class="image-side">
        <img src="tutor_center.jpg" alt="Tutor Center" width="500" height="300">
    </div>
</div>

<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <p>Contact Us</p>
            <p>Email: bloomtutoring@commonwealthu.edu</p>
            <p>Phone: (570)-389-2720</p>
        </div>
    </div>
</footer>
</body>
</html>