<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--for each entry in the row (except the header (time)), iterate through sessions list and if one matches, change bg color-->

  <table class="schedule-view-table" th:fragment="scheduleView">
    <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
    </tr>
    <tbody>
    <tr th:each="t : ${times}">
        <th th:text="${t}"></th>
        <td th:style="${schedule['M ' + t.toString()] == true} ? 'background-color: blue' : ''"></td>
        <td th:style="${schedule['T ' + t.toString()] == true} ? 'background-color: blue' : ''"></td>
        <td th:style="${schedule['W ' + t.toString()] == true} ? 'background-color: blue' : ''"></td>
        <td th:style="${schedule['R ' + t.toString()] == true} ? 'background-color: blue' : ''"></td>
        <td th:style="${schedule['F ' + t.toString()] == true} ? 'background-color: blue' : ''"></td>
    </tr>
    </tbody>
  </table>
</html>