<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BloomTutors</title>
    <link rel="stylesheet" th:href="@{/schedule-view.css}">
</head>

<!--for each entry in the row (except the header (time)), iterate through sessions list and if one matches, change bg color-->


<table class = "schedule-view-table" th:fragment="scheduleView(sessionSet)">
    <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
    </tr>
    <tbody>
    <tr th:each="t : ${times}">
        <th th:text="${t}"></th>

        <!-- Monday -->
        <td>
            <span th:each="s : ${sessionSet}"
                  th:if="${s.sessionID.day == 'M' and s.sessionID.time.equals(t)}"
                  th:text="'X'">
            </span>
        </td>

        <!-- Tuesday -->
        <td>
            <span th:each="s : ${sessionSet}"
                  th:if="${s.sessionID.day == 'T' and s.sessionID.time.equals(t)}"
                  th:text="'X'">
            </span>
        </td>

        <!-- Wednesday -->
        <td>
            <span th:each="s : ${sessionSet}"
                  th:if="${s.sessionID.day == 'W' and s.sessionID.time.equals(t)}"
                  th:text="'X'">
            </span>
        </td>

        <!-- Thursday -->
        <td>
            <span th:each="s : ${sessionSet}"
                  th:if="${s.sessionID.day == 'R' and s.sessionID.time.equals(t)}"
                  th:text="'X'">
            </span>
        </td>

        <!-- Friday -->
        <td>
            <span th:each="s : ${sessionSet}"
                  th:if="${s.sessionID.day == 'F' and s.sessionID.time.equals(t)}"
                  th:text="'X'">
            </span>
        </td>

    </tr>
    </tbody>

</table>

<!--https://stackoverflow.com/questions/53242576/pass-array-as-argument-in-thymeleaf-fragment-->
<!--may be helpful for passing arguments to this code-->


</html>