<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Set New Password</title>
    <link rel="stylesheet" th:href="@{/sign-in.css}">
</head>
<body>
<div class="container">
    <div class="header">
        <img src="Husky-Clip-Art-Transparent-File.png" alt="Husky Logo" class="logo">
        <h1>Bloom Tutors</h1>
    </div>

    <div>
        <hr class="accent-line">
    </div>

    <h1>Set New Password</h1>

    <form th:action="@{/set-new-password}" th:object="${loginTutor}" method="post">
        <div class="input-section">
            <input type="hidden" th:field="*{tutorID}" />
            <label>New Password: </label>
            <input type="password" th:field="*{newPass}" placeholder="New Password">
            <label>Confirm New Password: </label>
            <input type="password" th:field="*{confirmPass}" placeholder="Confirm New Password">
        </div>
        <div class="button-section">
            <button type="submit">Enter</button>
        </div>
    </form>



    <div class="info-box">
        <p>
            This is a private system for use of Bloomsburg University Tutors only.
        </p>
    </div>

    <div class="back-section">
        <a th:href="@{/}" class="back-button">Back</a>
    </div>

</div>

<footer class="footer">
</footer>

</body>
</html>