<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,width=device-width">
    <link rel="stylesheet" th:href="@{/SIschedule.css}">
    <title>SI Schedule</title>
</head>

<body>

<header class="header">
    <a th:href="@{/}">

        <img src="Husky-Clip-Art-Transparent-File.png" alt="Husky" class="logo">

    </a>

    <h1>SI Schedule</h1>
    <hr class="title-line">
</header>

<div class="stripe-container">

    <img src="fadedstripe.svg" alt="Stripe" class="stripe">

    <div class="stripe-text">
        <hr class="accent-line">
    </div>

</div>

<table class="table-fill">
    <thead>
    <tr>
        <th>SI LEADER</th>
        <th>CLASS</th>
        <th>DAYS</th>
        <th>TIMES</th>
        <th>LOCATIONS</th>
        <th>CLASS MEETING TIMES</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>John Doe</td>
        <td>STAT</td>
        <td>Monday</td>
        <td>1:00-1:15</td>
        <td>Soltz 105</td>
        <td>MWF 2:00-2:50</td>
    </tr>
    <tr>
        <td>John Doe</td>
        <td>STAT</td>
        <td>Tuesday</td>
        <td>2:00-2:15</td>
        <td>Soltz 105</td>
        <td>MWF 2:00-2:50</td>
    </tr>
    <tr>
        <td>John Doe</td>
        <td>STAT</td>
        <td>Wednesday</td>
        <td>3:00-3:15</td>
        <td>Soltz 105</td>
        <td>MWF 2:00-2:50</td>
    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    <tr>

    </tr>
    </tbody>
</table>


</body>

</html>
