<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,width=device-width">
  <link rel="stylesheet" th:href="@{/time-submission.css}">
  <title>Enter Session Times</title>
</head>
<body>
<header class="header">
  <a th:href="@{/}">

    <img src="Husky-Clip-Art-Transparent-File.png" alt="Husky" class="logo">

  </a>

  <h1>Enter Session Times</h1>
  <hr class="title-line">
</header>

<div class="stripe-container">

  <img src="fadedstripe.svg" alt="Stripe" class="stripe">

  <div class="stripe-text">
    <hr class="accent-line">
  </div>

</div>

<!--drop down for day, start time, end time; display all, then submit button (check which form version)-->
<h3>Request times for drop-in:</h3>

<form method="post">
  <div class="selection">
    <label for="day">Select day of week:</label>
    <select id="day" name="day">
      <option value="M">Monday</option>
      <option value="T">Tuesday</option>
      <option value="W">Wednesday</option>
      <option value="R">Thursday</option>
      <option value="F">Friday</option>
    </select>

    <label for="start">Select start time:</label>
    <select id="start" name="start">
      <option value="9">9:00</option>
      <option value="9.5">9:30</option>
      <option value="10">10:00</option>
      <option value="10.5">10:30</option>
      <option value="11">11:00</option>
      <option value="11.5">11:30</option>
      <option value="12">12:00</option>
      <option value="12.5">12:30</option>
      <option value="13">1:00</option>
      <option value="13.5">1:30</option>
      <option value="14">2:00</option>
      <option value="14.5">2:30</option>
      <option value="15">3:00</option>
      <option value="15.5">3:30</option>
      <option value="16">4:00</option>
      <option value="16.5">4:30</option>
    </select>

    <label for="end">Select end time:</label>
    <select id="end" name="end">
      <option value="9.5">9:30</option>
      <option value="10">10:00</option>
      <option value="10.5">10:30</option>
      <option value="11">11:00</option>
      <option value="11.5">11:30</option>
      <option value="12">12:00</option>
      <option value="12.5">12:30</option>
      <option value="13">1:00</option>
      <option value="13.5">1:30</option>
      <option value="14">2:00</option>
      <option value="14.5">2:30</option>
      <option value="15">3:00</option>
      <option value="15.5">3:30</option>
      <option value="16">4:00</option>
      <option value="16.5">4:30</option>
      <option value="17">5:00</option>
    </select>
  </div>

  <div>
    <input type="button" class="add" value="Add Time">
  </div>

  <div>
    <input type="button" class="review" value="Review Schedule">
  </div>

</form>
<!--on new page: display selected times (in schedule form?) then official submit-->
<div class="display">

</div>
<div class="submit button">

</div>

</body>
</html>