<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time Submission</title>
</head>
<body>
<!--drop down for day, start time, end time; display all, then submit button (check which form version)-->
    <h3>Request times for drop-in/SI hours:</h3>

    <form method="post">
        <div class="selection">
            <label>Select day of week: </label>
            <select>
                <option value="M">Monday</option>
                <option value="T">Tuesday</option>
                <option value="W">Wednesday</option>
                <option value="R">Thursday</option>
                <option value="F">Friday</option>
            </select>
            <label>Select start time: </label>
            <select>
                <option value="9">9:00</option>
                <option value="9.5">9:30</option>
                <option value="10">10:00</option>
                <option value="10.5">10:30</option>
                <option value="11">11:00</option>
                <option value="11.5">11:30</option>
                <option value="12">12:00</option>
                <option value="12.5">12:30</option>
                <option value="13">1:00</option>
                <option value="13.5">1:30</option>
                <option value="14">2:00</option>
                <option value="14.5">2:30</option>
                <option value="15">3:00</option>
                <option value="15.5">3:30</option>
                <option value="16">4:00</option>
                <option value="16.5">4:30</option>
            </select>
            <label>Select end time: </label>
            <select>
                <option value="9.5">9:30</option>
                <option value="10">10:00</option>
                <option value="10.5">10:30</option>
                <option value="11">11:00</option>
                <option value="11.5">11:30</option>
                <option value="12">12:00</option>
                <option value="12.5">12:30</option>
                <option value="13">1:00</option>
                <option value="13.5">1:30</option>
                <option value="14">2:00</option>
                <option value="14.5">2:30</option>
                <option value="15">3:00</option>
                <option value="15.5">3:30</option>
                <option value="16">4:00</option>
                <option value="16.5">4:30</option>
                <option value="17">5:00</option>
            </select>
        </div>
        <div class="add button">
            <button type="submit">Add Time</button>
        </div>
    </form>
    <div class="review">

    </div>

<!--on new page: display selected times (in schedule form?) then official submit-->
        <div class="display">

        </div>
        <div class="submit button">

        </div>

</body>
</html>