<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/schedule-view.css}">

    <title>Time Submission Confirmation</title>
</head>

<body>
    <div class="display">
        These are the times you have requested. Does it look right?
        <div th:replace="~{schedule-view :: scheduleView}">
        </div>
    </div>
    <div class="buttons">
        <a th:href="@{/tutors/{id}(id=${tutor.tutorID})}" class="button">Yes</a>
        <a th:href="@{/no}" class="button">No, go back</a>
        <p>Note: If you select 'no', all entered times will be erased.</p>
    </div>

</body>

</html>