<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,width=device-width">
  <title>Drop-in Schedule Builder</title>
  <link rel="stylesheet" th:href="@{/time-submisson.css}">
  <title>Enter Session Times</title>
</head>
<body>
<header class="header">
  <a th:href="@{/}">
    <img src="Husky-Clip-Art-Transparent-File.png" alt="Husky" class="logo">
  </a>

  <h1>Enter Session Times</h1>
  <hr class="title-line">
</header>

<div class="stripe-container">
  <img src="fadedstripe.svg" alt="Stripe" class="stripe">
  <div class="stripe-text">
    Blooms Tutors – Making scheduling easy!
    <hr class="accent-line">
  </div>
</div>

<!--drop down for day, start time, end time; display all, then submit button (check which form version)-->
<h3>Request times for drop-in:</h3>

<!-- Form was submitting to schedule-builder page, so nothing was being done, now submits to the right page -->
<!-- Time values also changed, value is updated to be in LocalTime format instead of doubles -->
<form method="post" th:action="@{/addTimes}">
  <div class="selection">
    <label for="day">Select day of week:</label>
    <select id="day" name="day">
      <option value="M">Monday</option>
      <option value="T">Tuesday</option>
      <option value="W">Wednesday</option>
      <option value="R">Thursday</option>
      <option value="F">Friday</option>
    </select>

    <label for="start">Select start time:</label>
    <select id="start" name="start">
      <option value="09:00">9:00</option>
      <option value="09:30">9:30</option>
      <option value="10:00">10:00</option>
      <option value="10:30">10:30</option>
      <option value="11:00">11:00</option>
      <option value="11:30">11:30</option>
      <option value="12:00">12:00</option>
      <option value="12:30">12:30</option>
      <option value="01:00">1:00</option>
      <option value="01:30">1:30</option>
      <option value="02:00">2:00</option>
      <option value="02:30">2:30</option>
      <option value="03:00">3:00</option>
      <option value="03:30">3:30</option>
      <option value="04:00">4:00</option>
      <option value="04:30">4:30</option>
    </select>

    <label for="end">Select end time:</label>
    <select id="end" name="end">
      <option value="09:30">9:30</option>
      <option value="10:00">10:00</option>
      <option value="10:30">10:30</option>
      <option value="11:00">11:00</option>
      <option value="11:30">11:30</option>
      <option value="12:00">12:00</option>
      <option value="12:30">12:30</option>
      <option value="01:00">1:00</option>
      <option value="01:30">1:30</option>
      <option value="02:00">2:00</option>
      <option value="02:30">2:30</option>
      <option value="03:00">3:00</option>
      <option value="03:30">3:30</option>
      <option value="04:00">4:00</option>
      <option value="04:30">4:30</option>
      <option value="05:00">5:00</option>
    </select>

    <button type="submit" class="add">Add Time</button>
  </div>

  <div>
    <a th:href="@{/review}" class="hero-link">
      <div class="hero_content box">
        <input type="button" class="review" value="Review Schedule">
      </div>
    </a>
  </div>

</form>

</body>
</html>