<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/schedule-view.css}">

    <title>Time Submission Confirmation</title>
</head>

<body>
    <div class="display">
        <p>These are the times you have requested most recently. Does it look right?</p>
        <div th:replace="~{schedule-view :: scheduleView(true)}">
        </div>
    </div>
    <div class="buttons">
        <form th:action="@{/confirm-times}" method="post">
            <button type="submit" class="button">Yes</button>
        </form>
        <form th:action="@{/reject-times}" method="post">
            <button type="submit" class="button">No, go back</button>
        </form>
        <p>Note: If you select 'no', all times entered most recently will be erased, not your entire schedule.</p>
    </div>

</body>

</html>