<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="tutors.css">
    <title>Campus Tutors</title>
</head>

<body>

<header class="header">
    <a href="FrontPage.html">

        <img src="Husky-Clip-Art-Transparent-File.png" alt="Husky" class="logo">

    </a>

    <h1>Tutor Profiles</h1>
    <hr class="title-line">

    <div class="signin-container">

        <div class="signin-text">Are you a tutor?</div>
        <a href="SignIn.html" class="signin-btn">Sign In</a>

    </div>
</header>

<div class="stripe-container">

    <img src="fadedstripe.svg" alt="Stripe" class="stripe">

    <div class="stripe-text">
        <h3>Tutor List</h3>
        <hr class="accent-line">
    </div>

</div>

<div style=" left: 20px;">
    <p > Search tutors by course: </p>
    <form action="/search_page" method="get">
        <input type="text" id="search-input" name="query" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

</div>

<table class="tutor-table">

    <tr style="background: linear-gradient(to right, #6f263d, #8a1538)" ;>
        <th>Name</th>
        <th>Tutor Type</th>
        <th>Profile</th>
    </tr>

    <tbody>
    <tr th:each="tutor: ${tutors}">
        <td th:text="${tutor.firstName + ' ' + tutor.lastName}"></td>
        <td th:text="${tutor.type}"></td>
        <td><a th:href="@{/tutors/{id}(id=${tutor.tutorID})}" href="tutor-profile.html" class="button">View Profile</a>
        </td>
    </tr>
    </tbody>

</table>

</body>

</html>
