<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/tutors.css}">
    <link rel="stylesheet" th:href="@{/header.css}">
    <title>Campus Tutors</title>
</head>

<body>

<div th:replace="~{headerFragment :: header('Tutor List')}"></div>

<div class="stripe-container">

    <img th:src="@{/fadedstripe.svg}" class="stripe">

    <div class="stripe-text">
        Tutor List
        <hr class="accent-line">
    </div>

</div>

<div class = "search-container">
    <form th:action="@{/tutors}" method="get">
        <label for="search-input">Search tutors by course </label>
        <input type="text" id="search-input" name="courseSearch" placeholder="Search...">
        <button type="submit">Search</button>
    </form>
</div>

<table class="tutor-table">
    <tr class = "tutor-table-header-row">
        <th>Name</th>
        <th>Tutor Type</th>
        <th>Profile</th>
    </tr>

    <tbody>
    <tr th:each="tutor: ${tutors}">
        <td th:text="${tutor.firstName + ' ' + tutor.lastName}"></td>
        <td th:text="${tutor.type}"></td>
        <td><a th:href="@{/tutors/{id}(id=${tutor.tutorID})}" class="button">View Profile</a>
        </td>
    </tr>
    </tbody>

</table>

</body>

</html>
