<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tutor Profile</title>
    <link rel="stylesheet" th:href="@{/profile.css}">
</head>
<body>


<header class="header">
    <a th:href="@{/}">

        <img src="/Husky-Clip-Art-Transparent-File.png" alt="Husky" class="logo">

    </a>

    <h1>Tutor Information</h1>
    <hr class="title-line">

    <div class="signin-container">

        <div class="signin-text">Are you a tutor?</div>
        <a th:href="@{/sign-in}" class="signin-btn">Sign In</a>

    </div>
</header>
<div class="stripe-container">

    <img src="/fadedstripe.svg" alt="Stripe" class="stripe">

    <div class="stripe-text">
        <h3>Tutor Info</h3>
        <hr class="accent-line">
    </div>

</div>


<div class="profile-container">
    <div class="profile-left">
        <div class="profile">
            <img src="/graypfp.png" alt="Profile Picture" id="profileImage">
        </div>

        <h1 th:text="${tutor.firstName + ' ' + tutor.lastName}"></h1>
        <h3 class="tutor-type" th:text="${tutor.type}"></h3>
        <h3>Anonymously rate this tutor (must rate all categories): </h3>
        <form th:action="@{/tutors/{id}/rate(id=${tutor.tutorID})}" method="post">
            <div class="rating-category">
                <p>Communication</p>
                <div class="rating">
                    <input type="radio" name="communication" id="comm1" value="5">
                    <label for="comm1">★</label>

                    <input type="radio" name="communication" id="comm2" value="4">
                    <label for="comm2">★</label>

                    <input type="radio" name="communication" id="comm3" value="3">
                    <label for="comm3">★</label>

                    <input type="radio" name="communication" id="comm4" value="2">
                    <label for="comm4">★</label>

                    <input type="radio" name="communication" id="comm5" value="1">
                    <label for="comm5">★</label>
                </div>
            </div>
            <div class="rating-category">
                <p>Approachability</p>
                <div class="rating">
                    <input type="radio" name="approach" id="app1" value="5">
                    <label for="app1">★</label>

                    <input type="radio" name="approach" id="app2" value="4">
                    <label for="app2">★</label>

                    <input type="radio" name="approach" id="app3" value="3">
                    <label for="app3">★</label>

                    <input type="radio" name="approach" id="app4" value="2">
                    <label for="app4">★</label>

                    <input type="radio" name="approach" id="app5" value="1">
                    <label for="app5">★</label>
                </div>
            </div>

            <div class="rating-category">
                <p>Implements Effective Learning Strategies</p>
                <div class="rating">
                    <input type="radio" name="effLearn" id="learn1" value="5">
                    <label for="learn1">★</label>

                    <input type="radio" name="effLearn" id="learn2" value="4">
                    <label for="learn2">★</label>

                    <input type="radio" name="effLearn" id="learn3" value="3">
                    <label for="learn3">★</label>

                    <input type="radio" name="effLearn" id="learn4" value="2">
                    <label for="learn4">★</label>

                    <input type="radio" name="effLearn" id="learn5" value="1">
                    <label for="learn5">★</label>
                </div>
            </div>

            <div class="rating-category">
                <p>Helpfulness</p>
                <div class="rating">
                    <input type="radio" name="helpfulness" id="help1" value="5">
                    <label for="help1">★</label>

                    <input type="radio" name="helpfulness" id="help2" value="4">
                    <label for="help2">★</label>

                    <input type="radio" name="helpfulness" id="help3" value="3">
                    <label for="help3">★</label>

                    <input type="radio" name="helpfulness" id="help4" value="2">
                    <label for="help4">★</label>

                    <input type="radio" name="helpfulness" id="help5" value="1">
                    <label for="help5">★</label>
                </div>
            </div>

            <button type="submit">Submit Rating</button>
        </form>
        <h3 th:text = "'Average Communication: ' + ${ratings['comm']}"></h3>
        <h3 th:text = "'Average Approachability: ' + ${ratings['approach']}"></h3>
        <h3 th:text = "'Average Effective Learning Strategies: ' + ${ratings['effLearn']}"></h3>
        <h3 th:text = "'Average Helpfulness: ' + ${ratings['help']}"></h3>
        <h3 th:text = "'Average Overall: ' + ${ratings['overall']}"></h3>
    </div>

    <div class="profile-right">
        <section class="course-section">
            <h2>Courses Offered</h2>
            <div class="course-card" th:each="course : ${tutor.coursesOffered}">
                <div class="course-info">
                    <span th:text="${course.courseID.courseSubject}"></span>
                    <span th:text="${course.courseID.courseNumber}"></span>
                </div>
                <div class="course-title"
                     th:text="${course.courseTitle}"></div>
            </div>
        </section>
        <section class="schedule-section">
            <h2>Schedule</h2>
            <p>Schedule coming soon...</p>
        </section>

    </div>
</div>
</body>
</html>
